img {
    max-width: 40px;
    max-height: 40px;
    display: block;
}

.work-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #2e2e2ecc;
    padding: 10px;
    box-shadow: #707070 0px 2px 8px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.work-header span {
    font-size: 1.3em;
    font-weight: bold;
}

li {
    margin-bottom: 8px;
}

.dropdown-arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: auto;
    float: right;
    filter: invert(1);
    margin-right: 10px;
}