<div class="background">
  <!-- <app-header></app-header> -->
  <app-nav-bar (selectedPage)="setSelectedPage($event)"></app-nav-bar>

  <div class="content" [ngStyle]="{'display': loading ? 'none' : 'block'}">
  @if (selectedPage === 'Contact') {
    <app-contact></app-contact>
  }
  @if (selectedPage === 'Home') {
    <app-home></app-home>
  }
  @if (selectedPage === 'About') {
    <app-about></app-about>
  }
  @if (selectedPage === 'Projects') {
    <app-projects></app-projects>
  }
    @if (selectedPage === 'Hobbies') {
    <app-hobbies></app-hobbies>
  }
  </div>
  <app-footer></app-footer>
</div>
