.profile-pic {
  margin: -130px 0 0 -131px;
  width: 400px;
  height: 520px;
}

.crop {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.crop:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.body span {
  padding-left: 10px;
}

.skill-badge {
  background-color: #8b0000CC;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px;
  display: inline-block;
  box-shadow: #707070 0px 2px 8px;
}

.skill-badge:hover {
  background-color: #8b0000;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.intro-text {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-right: 25px;
  padding-left: 0px !important;
}

.photo {
  margin-top: 10px;
  float: left;
  margin-right: 20px;
  margin-left: 10px
}

@media all and (max-width: 600px) {
  .photo {
    margin-left: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    margin-right: 0px !important;
    margin-bottom: 20px;
  }
}